@{
    ViewData["Title"] = "Home";
}

<body class="home">
    <section class="hero">
        <div class="hero-content">
            <h1>Discover Your Dream Property with ImoSphere!</h1>
            <p>Your journey to finding the perfect property begins here. Explore our listings to find the home that
                matches your dreams.</p>
            <div class="buttons">
                <a class="btn learn-more" href="/Home/AboutUs"
                    style="background-color: transparent; color: (--primary-color); border: 1px solid var(--primary-color);">Learn
                    More</a>
                <a class="btn browse" href="/Home/Properties"
                    style="background-color: var(--secondary-color); color: (--primary-color);">Browse Properties</a>
            </div>

            <div class="stats">
                <div class="stats-item"><strong>200+</strong><br>Happy Customers</div>
                <div class="stats-item"><strong>10k+</strong><br>Properties For Clients</div>
                <div class="stats-item"><strong>16+</strong><br>Years of Experience</div>
            </div>
        </div>

        <div class="hero-image">
            <img src="~/images/Image.png" alt="Skyscraper" />
        </div>
        <div class="selo">
            <img src="~/images/Selo.png" alt="Selo" />
        </div>
    </section>

    <section class="features">
        <div class="feature-box">🏠<br>Find Your Dream Home</div>
        <div class="feature-box">💰<br>Unlock Property Value</div>
        <div class="feature-box">🏢<br>Effortless Property Management</div>
        <div class="feature-box">📈<br>Smart Investments, Informed Decisions</div>
    </section>
</body>