@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="privacy">
    <h1>@ViewData["Title"]</h1>
    <p>Use this page to detail your site's privacy policy.</p>
    <p>This page is intended to provide details about your site's privacy policy.</p>
</section>