@{
    ViewData["Title"] = "Services";
}


<section class="services">
    <h1>Our Services</h1>
    <p>Learn more about the services we offer to help you manage, buy, or sell properties.</p>
</section>
