@{
    ViewData["Title"] = "Services";
}

<body class="services">
    <h1 class="text-center">Elevate Your Real Estate Experience</h1>
    <p>Welcome to ImoSphere, where your real estate aspirations meet expert guidance. Explore our comprehensive range of
        services, each designed to cater to your unique needs and dreams.</p>

       <section class="service-list">
        <div class="service-item">
            <img src="~/images/service1.png" alt="Home Icon" class="service-icon"/>
            <h3>Find Your Dream Home</h3>
            <p>We help you discover the perfect property that matches your lifestyle and preferences, ensuring a seamless
                home-buying experience.</p>
        </div>
        <div class="service-item">
            <img src="~/images/service2.png" alt="Value Icon" class="service-icon" />
            <h3>Unlock Property Value</h3>
            <p>Our team provides expert insights and analysis to help you understand the true value of your property,
                empowering you to make informed decisions.</p>
        </div>
        <div class="service-item">
            <img src="~/images/service3.png" alt="Management Icon" class="service-icon" />
            <h3>Effortless Property Management</h3>
            <p>We assist you in selling your property quickly and at the best possible price, leveraging our market
                expertise and network.</p>
        </div>
        <div class="service-item">
            <img src="~/images/service4.png" alt="Investment Icon" class="service-icon" />
            <h3>Smart Investments, Informed Decisions</h3>
            <p>Our investment strategies are tailored to your financial goals, ensuring you make the most of your real
                estate investments.</p>
        </div>
    </section>
</body>